{% if rclone_config -%}
{% for (remote, options) in rclone_config.iteritems() %}
[{{ remote }}]
{% for (key, value) in options.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %}
{% endif %}
